@import 'variables.module';

#root {
    .app-container {
        padding-top: 100px;
        height: 100%;
        width: 100%;
        @import 'header';
        @import "page";
        @import 'timeline';
        @import "information";

        &.der-golem {
            background: url('../data/der-golem.jpg') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }
}