.header {
    &.header-container {
        position: absolute;
        top: 25px;
        left: 3%;
        height: 75px;
        width: 94%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary-1;
        border-radius: 1.5em;
    }

    &.header-action {
        height: 70%;
        background-color: $color-primary-2;
        font-weight: bold;
        border-radius: 5px;
        margin: 0 4px;
        width: 120px;
        
        span {
            font-size: 1em;
        }

        &:hover {
            color: $color-text-primary;
        }

        &.Mui-selected {
            background-color: $color-secondary-1;
        }
    }
}

.pages-heading {
    width: fit-content;
    padding-left: 23px;
    padding-right: 23px;
    height: 70px;
    color: $color-secondary-1;
    font-weight: bold;
    background-color: $color-divider;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}