.information {
    background-color: $color-divider;
    border-radius: 10px;
    min-height: 400px;
    width: 70%;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 200px;
    color: $color-text-primary;

    &.information-table {
        display: block;
        margin-left: auto;
        margin-top: 15px;
        margin-right: 12%;
        margin-bottom: 20px;
        border-collapse: collapse;
        padding: 15px;

        td {
            padding-top: 15px;
        }

        .table-header {
            font-size: 25px;
            font-weight: bold;
            vertical-align: top;
            border-bottom: 2px solid $color-primary-1;
            padding-right: 10px;
        }

        .table-text {
            font-size: 18px;
            text-align: left;
            border-bottom: 2px solid $color-primary-1;
        }

        .author {
            display: flex;
            flex-direction: column;
            align-items: center;

            .author-image {
                max-height: 350px;
                margin-bottom: 20px;
            }
        }
    }
}

.information-zopef {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &.information-zopef-header {
        color: $color-text-primary;
    }

    &.information-zopef-content {
        .section-container {
            margin-bottom: 20px;
            width: 80%;
            background-color: $color-primary-1;
            color: $color-text-primary;
            border-radius: 10px;

            .section-header {
                text-align: center;

                .section-header-icon {
                    color: $color-text-primary;
                }
            }

            .section-content {
                border-top: 1px solid $color-primary-2;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        &.information-zopef-content__person {
            .person-container {
                margin-bottom: 10px;
                width: 60%;
                background-color: $color-primary-2;
                color: $color-text-primary;
                border-radius: 10px;
    
                .person-header {
                    text-align: center;
    
                    .person-header-icon {
                        color: $color-text-primary;
                    }
                }
    
                .person-content {
                    border-top: 1px solid $color-primary-1;
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .person-table {
                        display: block;
                        margin-left: auto;
                        border-collapse: collapse;
                        padding: 15px;
                        width: 100%;
                
                        td {
                            padding-top: 15px;

                            p {
                                margin: 0;
                            } 
                        }
                
                        .table-header {
                            font-size: 25px;
                            font-weight: bold;
                            vertical-align: top;
                            border-bottom: 2px solid $color-primary-1;
                            padding-right: 10px;
                        }
                
                        .table-text {
                            font-size: 18px;
                            text-align: left;
                            border-bottom: 2px solid $color-primary-1;
                        }
                    }
                }
            }
        }

        &.information-zopef-content__interpretation {
            .interpret-container {
                margin-bottom: 10px;
                width: 80%;
                background-color: $color-primary-1;
                color: $color-text-primary;
                border-radius: 10px;
    
                .interpret-header {
                    text-align: center;
    
                    .interpret-header-icon {
                        color: $color-text-primary;
                    }
                }
    
                .interpret-content {
                    border-top: 1px solid $color-primary-2;
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .interpret-table {
                        display: block;
                        margin-left: auto;
                        border-collapse: collapse;
                        padding: 15px;
                        width: 100%;
                
                        td {
                            padding-top: 15px;
                        }
                
                        .table-header {
                            font-size: 25px;
                            font-weight: bold;
                            vertical-align: top;
                            border-bottom: 2px solid $color-primary-2;
                            padding-right: 10px;
                        }
                
                        .table-text {
                            font-size: 18px;
                            text-align: left;
                            border-bottom: 2px solid $color-primary-2;
                        }
                    }
                }
            }
        }
    }




    &.informationen-zopef-personen {
        color: $color-text-primary;
        font-weight: bold;
    }
}